# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


#----------------------------------------------------------------------#
# Keystore for release builds
# Különösen fontos: SOHA ne töltsd fel a privát kulcsokat!
*.keystore

# Android
# Android build output
/android/app/build
/android/.gradle
/android/local.properties
/android/key.properties
# A gradle-wrapper.jar általában benne szokott maradni a verziókövetésben (git), de a cache nem.

# iOS / macOS
# Pods és build
/ios/.symlinks
/ios/Flutter/Generated.xcconfig
/ios/Pods/
/ios/.ios_build_data
/macos/.symlinks
/macos/Flutter/Generated.xcconfig
/macos/Pods/
/macos/.macos_build_data

# Windows / Linux
# Build output
/windows/x64
/linux/build

# Web
/web/

# Temp files
*~