# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
# Windows-specifikus szemétfájl
Thumbs.db

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (Kihagyva az általad generált alapján, de gyakran kerül bele)
.vscode/
# Ha nem szeretnél verziókezelni specifikus VS Code beállításokat, vedd ki a kommentet!

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Kiegészítések a generált fájlokhoz, amiket a Flutter build rendszer hoz létre:
.flutter-plugins
.packages

# Platform-specifikus generált build fájlok és beállítások
# Android
/android/local.properties # A helyi SDK útvonalát tartalmazza
/android/.gradle

# iOS/macOS
ios/Flutter/Generated.xcconfig
macos/Flutter/Generated.xcconfig

# Linux/Windows generált cmake fájlok
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugins.cmake

# Web
web/flutter_bootstrap.js

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release